<!DOCTYPE html>
<html
class="light" 
lang="en" 
th:fragment="parent(content,title,script)" 
xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">SCM</title>
     <link rel="stylesheet" data-th-href="@{/css/output.css}" />
     <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" 
   rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="dark:bg-gray-900 dark:text-white">


   <div data-th-replace="navbar :: navbar"></div>

    <!-- main content -->
    <div class="p-4" >
        <section data-th-replace="${content}"></section>
    </div>


    <footer class="p-4" >
        Footer: learn Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia quae at magni?
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    <script data-th-src="@{'/src/main/resources/static/js/script.js'}"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>
</html>


<!-- <div class="parent-fragment" th:fragment="parent(x,y)" >
</div> -->