<nav 
data-th-fragment="navbar" 
class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600"
>
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

  <a
  data-th-href="@{'/'}"
  class="flex items-center space-x-3 rtl:space-x-reverse"
  >
      <img
       data-th-src="@{'/images/telephone.png'}" 
       class="h-7 shoadow rounded-full"
       alt="Flowbite Logo"
        />
      <span class="self-center text-xl text-heading font-semibold whitespace-nowrap"
      >scm2.0
    </span>
  </a>
  <div class="inline-flex gap-2 md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
  >
  <button id="theme_change_button" class="bg-gray-200 px-3 py-2 rounded dark:text-white dark:bg-gray-600">
    <i class="fa-solid fa-circle-half-stroke"></i> <span>Light</span>
  </button>
      <a 
      data-th-href="@{'/login'}"
      type="button" 
      class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 focus:outline-none"
      >login
</a>

    <a 
      data-th-href="@{'/register'}"
      type="button" 
      class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 focus:outline-none"
      >
      sign up
</a>

      <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-9 h-9 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
    <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
      <li>
        <a 
        data-th-href="@{'/home'}" 
        class="block py-2 px-3 text-white bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0" 
        aria-current="page"
        >Home</a>
      </li>
      <li>
        <a 
        data-th-href="@{'/about'}"
        class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">About</a>
      </li>
      <li>
        <a 
        data-th-href="@{'/services'}"
        class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Services</a>
      </li>
      <li>
        <a 
        data-th-href="@{'/contact'}"
         class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
